
slicer/slicer-leftover/assets/minecraft/textures/gui/container/brewing_stand.png
slicer/slicer-leftover/assets/minecraft/textures/gui/container/horse.png
slicer/slicer-leftover/assets/minecraft/textures/gui/container/smithing.png
slicer/slicer-leftover/assets/minecraft/textures/gui/icons.png
slicer/slicer-leftover/assets/minecraft/textures/gui/light_dirt_background.png
slicer/slicer-leftover/assets/minecraft/textures/gui/options_background.png
slicer/slicer-leftover/assets/minecraft/textures/gui/social_interactions.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_0.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_1.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_2.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_3.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_4.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_5.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/background/panorama_overlay.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/minceraft.png
slicer/slicer-leftover/assets/minecraft/textures/gui/title/minecraft.png
slicer/slicer-leftover/assets/minecraft/textures/gui/toasts.png
slicer/slicer-leftover/assets/minecraft/textures/gui/widgets.png
slicer/slicer-leftover/assets/realms/textures/gui/realms/cross_icon.png
slicer/slicer-leftover/assets/realms/textures/gui/realms/news_icon.png
slicer/slicer-output/assets/minecraft/textures/gui/container/brewing_stand.png
slicer/slicer-output/assets/minecraft/textures/gui/container/horse.png
slicer/slicer-output/assets/minecraft/textures/gui/container/smithing.png
slicer/slicer-output/assets/minecraft/textures/gui/light_dirt_background.png
slicer/slicer-output/assets/minecraft/textures/gui/options_background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/brewing_stand/brew_progress.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/brewing_stand/bubbles.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/brewing_stand/fuel_length.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/horse/armor_slot.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/horse/chest_slots.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/horse/llama_armor_slot.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/horse/saddle_slot.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/container/smithing/error.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/air.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/air_bursting.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/armor_empty.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/armor_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/armor_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/crosshair.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/crosshair_attack_indicator_background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/crosshair_attack_indicator_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/crosshair_attack_indicator_progress.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/experience_bar_background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/experience_bar_progress.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_empty.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_empty_hunger.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_full_hunger.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/food_half_hunger.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_hardcore_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_hardcore_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_hardcore_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/absorbing_hardcore_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/container.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/container_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/container_hardcore.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/container_hardcore_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_hardcore_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_hardcore_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_hardcore_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/frozen_hardcore_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/hardcore_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/hardcore_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/hardcore_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/hardcore_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_hardcore_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_hardcore_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_hardcore_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/poisoned_hardcore_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/vehicle_container.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/vehicle_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/vehicle_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_hardcore_full.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_hardcore_full_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_hardcore_half.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/heart/withered_hardcore_half_blinking.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar_attack_indicator_background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar_attack_indicator_progress.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar_offhand_left.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar_offhand_right.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/hotbar_selection.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/jump_bar_background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/jump_bar_cooldown.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/hud/jump_bar_progress.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/draft_report.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_1.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_2.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_3.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_4.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_5.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/ping_unknown.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/icon/search.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/incompatible.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/ping_1.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/ping_2.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/ping_3.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/ping_4.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/ping_5.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/pinging_1.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/pinging_2.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/pinging_3.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/pinging_4.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/pinging_5.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/server_list/unreachable.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/background.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/background.png.mcmeta
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/mute_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/mute_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/unmute_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/social_interactions/unmute_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/advancement.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/mouse.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/movement_keys.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/recipe.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/recipe_book.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/right_click.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/social_interactions.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/system.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/tree.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/tutorial.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/toast/wooden_planks.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button.png.mcmeta
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button_disabled.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button_disabled.png.mcmeta
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/button_highlighted.png.mcmeta
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/cross_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/cross_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/locked_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/locked_button_disabled.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/locked_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/news_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/news_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/unlocked_button.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/unlocked_button_disabled.png
slicer/slicer-output/assets/minecraft/textures/gui/sprites/widget/unlocked_button_highlighted.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_0.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_1.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_2.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_3.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_4.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_5.png
slicer/slicer-output/assets/minecraft/textures/gui/title/background/panorama_overlay.png
slicer/slicer-output/assets/minecraft/textures/gui/title/minceraft.png
slicer/slicer-output/assets/minecraft/textures/gui/title/minceraft.png.mcmeta
slicer/slicer-output/assets/minecraft/textures/gui/title/minecraft.png
slicer/slicer-output/assets/minecraft/textures/gui/title/minecraft.png.mcmeta
